@import "tailwindcss";
@import "./fonts.css";
@import "./flatpickr.css";

:root {
  --text-primary: #020602;
  --text-secondary: #1e1e1e;
  --heading-primary: #fdfdfd;
  --heading-secondary: #99da9a;

  --dark: #333333;
  --dark-muted: #020602;

  /* custom neutral color  */
  --neutral-50: #f9fafb;
  --neutral-100: #fdfdfd;
  --neutral-200: #e1e1e1;
  --neutral-300: #eaecf0;
  --neutral-400: #808080;
  --neutral-500: #637381;
  --neutral-600: #636363;
  --neutral-700: #3b3b3b;
  --neutral-800: #212836;
  --neutral-900: #121212;
  --neutral-950: #0a0a0a;

  /* theme colors */
  --theme-50: #f8fff8;
  --theme-100: #f2fff2;
  --theme-200: #ebf5eb;
  --theme-300: #e4f6e2;
  --theme-400: #99da9a;
  --theme-500: #689c66;
  --theme-600: #349735;
  --theme-700: #315c30;
  --theme-800: #153c15;
  --theme-900: #123011;
  --theme-950: #0d240d;

  /* rating color */
  --rating-fill: #ffc107;
  --rating-empty: var(--neutral-300);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-textPrimary: var(--text-primary);
  --color-textSecondary: var(--text-secondary);
  --color-headingPrimary: var(--heading-primary);
  --color-headingSecondary: var(--heading-secondary);

  --color-dark: var(--dark);
  --color-dark-muted: var(--dark-muted);

  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);

  --color-theme-50: var(--theme-50);
  --color-theme-100: var(--theme-100);
  --color-theme-200: var(--theme-200);
  --color-theme-300: var(--theme-300);
  --color-theme-400: var(--theme-400);
  --color-theme-500: var(--theme-500);
  --color-theme-600: var(--theme-600);
  --color-theme-700: var(--theme-700);
  --color-theme-800: var(--theme-800);
  --color-theme-900: var(--theme-900);
  --color-theme-950: var(--theme-950);

  --color-rating-fill: var(--rating-fill);
  --color-rating-empty: var(--rating-empty);

  --animate-subtleScale: subtle-scale 300ms ease-in-out;
  /* --animate-sendPulse: send-pulse 700ms ease-in-out infinite;
  --animate-fadeOutAndTranslateDown: fadeOutAndTranslateDown 350ms ease-in-out;
  --animate-like: like-animation 700ms ease-in-out; */

  @keyframes subtle-scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .primary-button {
    @apply bg-theme-700 rounded-lg px-4 py-3 text-sm leading-none font-semibold text-white disabled:bg-neutral-300 disabled:text-neutral-400 sm:px-8 sm:py-4 sm:text-base;
  }
  .primary-button:not(:disabled),
  .secondary-button:not(:disabled) {
    @apply hover:scale-[103%] hover:opacity-90 hover:shadow-md;
  }
  .secondary-button {
    @apply bg-theme-300 text-textPrimary border-theme-300 rounded-lg border px-4 py-3 text-center text-sm text-[1.125rem] leading-none font-semibold disabled:border-0 disabled:bg-neutral-300 disabled:text-neutral-300 sm:px-8 sm:py-4 sm:text-base;
  }
  .primary-button:active:not(:disabled),
  .secondary-button:active:not(:disabled) {
    @apply animate-subtleScale;
  }
  .input-text {
    @apply focus:outline-theme-500 placeholder:text-textPrimary/24 h-[2.5rem] w-full rounded-lg bg-neutral-100 px-3 py-2 text-base leading-[1.15rem] text-neutral-700/75 disabled:cursor-not-allowed disabled:bg-neutral-300/70 disabled:text-neutral-500 sm:h-[3rem] sm:px-3.5 sm:py-2.5 sm:leading-[1.25rem];
    box-shadow: 0px 1px 2px 0px #1018280d;
    border: 1px solid #e5e5e5;
  }
  .input-text-container {
    @apply outline-theme-500 h-[2.5rem] w-full rounded-lg bg-neutral-100 px-3 py-2 focus-within:outline-2 disabled:cursor-not-allowed disabled:bg-neutral-600/70 disabled:text-neutral-500 sm:h-[3rem] sm:px-3.5 sm:py-2.5;
    box-shadow: 0px 1px 2px 0px #1018280d;
    border: 1px solid #e5e5e5;
  }
  .input-text-container input {
    @apply placeholder:text-textPrimary/24 border-0 text-base leading-[1.15rem] text-neutral-700/75 outline-0 sm:leading-[1.25rem];
  }

  .input-label {
    @apply text-textSecondary mb-2 inline-block text-sm font-medium;
  }
  .card {
    @apply rounded-lg border-[#EFEFEF] bg-white shadow-[4px_4px_12px_0px_rgba(0,0,0,0.12)];
  }
}

@layer utilities {
  .hover-underline {
    @apply relative after:absolute after:-bottom-0.5 after:left-0 after:inline-block after:h-[0.0625rem] after:w-full after:scale-0 after:bg-[var(--color-underline)] after:transition-transform after:content-[''] hover:after:scale-100;
  }
  .hover-scale {
    @apply transition-transform hover:scale-105;
  }
  .custom-container {
    @apply container mx-auto px-4 md:px-6;
  }
  .main-margin-top {
    @apply mt-[3.875rem] sm:mt-[4.5rem] md:mt-[5.5rem];
  }
  .main-padding-top {
    @apply pt-[3.875rem] sm:pt-[4.5rem] md:pt-[5.5rem];
  }
  .left-arrow {
    @apply absolute after:absolute after:top-1/2 after:-left-[12px] after:-translate-y-1/2 after:border-[6px] after:border-transparent after:border-r-neutral-200 after:content-[''];
  }
}

/* wave */
.wave {
  width: 100vw;
}
.wave1,
.wave3 {
  transform: translateY(2px);
}
.wave2 {
  transform: translateY(-2px);
}
